<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>Logic error</string>
			<key>check_name</key>
			<string>core.DivideZero</string>
			<key>description</key>
			<string>Division by zero</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>d0f1b75ceb4abd4645ef6f4c1170b586</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>50</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>634</integer>
			</dict>
			<key>macro_expansions</key>
			<array>
				<dict>
					<key>expansion</key>
					<string>do {LogMan ::Throw ::AFmt (Size !=IR ::OpSize ::iInvalid ,"Invalid Size");}while (0)</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>633</integer>
					</dict>
					<key>name</key>
					<string>LOGMAN_THROW_A_FMT(Size != IR::OpSize::iInvalid, "Invalid Size")</string>
				</dict>
			</array>
			<key>path</key>
			<array>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>52</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>634</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>53</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>634</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>634</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>8</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>634</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>1</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>598</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>598</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>52</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>634</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>53</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>634</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>599</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>8</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>599</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>1</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>598</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>6</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>598</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>11</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>599</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>599</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>3</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>599</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>8</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>599</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>26</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>600</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>31</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>600</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>11</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>599</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>14</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>599</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>52</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>634</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>53</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>634</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>26</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>600</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>31</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>600</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>edges</key>
					<array>
						<dict>
							<key>end</key>
							<array>
								<dict>
									<key>col</key>
									<integer>50</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>634</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>50</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>634</integer>
								</dict>
							</array>
							<key>start</key>
							<array>
								<dict>
									<key>col</key>
									<integer>52</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>634</integer>
								</dict>
								<dict>
									<key>col</key>
									<integer>53</integer>
									<key>file</key>
									<integer>0</integer>
									<key>line</key>
									<integer>634</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>kind</key>
					<string>control</string>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>3</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>633</integer>
					</dict>
					<key>message</key>
					<string>Assuming 'Size' is not equal to iInvalid</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>3</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>633</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>66</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>633</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>52</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>634</integer>
					</dict>
					<key>message</key>
					<string>Calling 'OpSizeToSize'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>52</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>634</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>76</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>634</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>1</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>598</integer>
					</dict>
					<key>message</key>
					<string>Entered call from 'operator/'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>1</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>598</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>1</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>598</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>26</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>600</integer>
					</dict>
					<key>message</key>
					<string>Returning zero</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>26</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>600</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>33</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>600</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>52</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>634</integer>
					</dict>
					<key>message</key>
					<string>Returning from 'OpSizeToSize'</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>52</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>634</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>76</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>634</integer>
							</dict>
						</array>
					</array>
				</dict>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>50</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>634</integer>
					</dict>
					<key>message</key>
					<string>Division by zero</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>27</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>634</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>76</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>634</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>Unused code</string>
			<key>check_name</key>
			<string>deadcode.DeadStores</string>
			<key>description</key>
			<string>Value stored to 'ptr' is never read</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>fb095ffeaa5da82d032c7514761d408d</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>5</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>199</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>5</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>199</integer>
					</dict>
					<key>message</key>
					<string>Value stored to 'ptr' is never read</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>12</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>199</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>19</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>199</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/home/steamvr/dev/FEX/FEXCore/Source/Interface/IR/IR.h</string>
		<string>/home/steamvr/dev/FEX/FEXCore/Source/Interface/IR/IntrusiveIRList.h</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>clangsa</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.24.4</string>
		</dict>
	</dict>
</dict>
</plist>
